@charset "UTF-8";

html {

  body {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(white, 0.85);

    #wrapper-top {
      width: 400px;
      height: 500px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  //  ウィンドウサイズ縮めていった時の挙動が綺麗でいいですね
      border: solid 2px white;
      margin: auto;
      padding-top: 60px;
      text-align: center;
      box-sizing: border-box;

      #title-top {
        font-size: 25px;
        font-weight: 600;
      }

      #content-box {
        padding-left: 30px;
        text-align: left;
        padding-top: 30px;
        font-size: 17px;
        line-height: 32px;

        .list-top {
          padding-left: 25px;
        }

        #weirdText-top{
          margin-top: 10px;
          font-style: oblique;
          color: rgba(white, 0.75);
        }
      }

      #title-next {
        text-align: center;
        width: 250px;
        cursor: pointer;
        height: 30px;
        margin: auto;
        margin-top: 40px;
        padding-top: 5px;
        font-size: 16px;
        font-weight: 600;
        border: solid 1px rgba(white, 0.85);
      }

    }

  }

}